# backend:
#   name: test-repo

backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow
media_folder: "static/img"
public_folder: "/img"

collections:
  - name: "capacitacion"
    identifier_field: name
    label: "Capacitación" # Used in the UI
    folder: "src/pages/capacitacion" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Descripción", name: "description", widget: "text" }
      - {
          label: "Categoría",
          name: "category",
          widget: "select",
          options:
            [
              "electronica",
              "refrigeracion",
              "automatizacion",
              "electricidad",
              "mecatronica",
            ],
        }
      - {
          label: "Fecha",
          name: "date",
          widget: "date",
          format: DD-MMM-YY,
          required: false,
        }
      - { label: "Imagen", name: "img", widget: "image", required: false }

      - label: "Contenido del curso"
        name: "contenido"
        widget: "list"
        required: false

      - label: "Requisitos recomendados"
        name: "requisitosRecomendados"
        widget: "list"
        required: false

      - label: "Más información"
        hint: "Este campo pondrá texto plano debajo del contenido principal es opcional investigar sobre formato markdown"
        name: "body"
        widget: "markdown"
        required: false

  - name: "servicios" # Used in routes, e.g., /admin/collections/blog
    identifier_field: name
    label: "Servicios" # Used in the UI
    folder: "src/pages/servicios" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Título", name: "title", widget: "string" }
      - {
          label: "Ícono",
          hint: "Agregar un archivo SVG o PNG (prefetentemente SVG)",
          name: "icon",
          widget: "image",
        }
      - { label: "Descripción", name: "description", widget: "text" }

  - name: "personas" # Used in routes, e.g., /admin/collections/blog
    identifier_field: name
    label: "Personas" # Used in the UI
    folder: "src/pages/trabajo/personas" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Nombre Completo", name: "name", widget: "string" }
      - {
          label: "Breve descripción laboral",
          name: "description",
          widget: "string",
        }
      - {
          label: "Foto",
          hint: "Recomendado una foto cuadrada o 4:3 en JPG",
          name: "img",
          widget: "image",
        }
      - {
          label: "Número de documento de identidad",
          name: "ci",
          widget: "number",
          valueType: "int",
        }
      - {
          label: "Ciudad",
          name: "ciudad",
          widget: "select",
          multiple: false,
          options:
            [
              "Santa Cruz",
              "La Paz",
              "Cochabamba",
              "Tarija",
              "Sucre",
              "Beni",
              "Pando",
              "Oruro",
              "Potosí",
            ],
        }
      - { label: "Edad", name: "edad", widget: "number", valueType: "int" }
      - {
          label: "Licencia de Conducir",
          name: "licenciaDeConducir",
          widget: "boolean",
          default: false,
        }
      - { label: "estado Civil", name: "estadoCivil", widget: "string" }
      - {
          label: "Habilidades Duras",
          hint: "Son habilidades técnicas y concretas, ejemplo: uso de excel",
          name: "hardSkills",
          widget: "list",
        }
      - {
          label: "Habilidades Blandas",
          hint: "Son habilidades personales e interpersonales, ejemplo: puntualidad, trabajo en equipo",
          name: "softSkills",
          widget: "list",
        }
      - {
          label: "Educación",
          name: "educacion",
          widget: "list",
          required: false,
        }
      - {
          label: "Experiencia Laboral",
          name: "experiencia",
          widget: "list",
          required: false,
        }

  - name: "empresas" # Used in routes, e.g., /admin/collections/blog
    identifier_field: name
    label: "Empresas" # Used in the UI
    folder: "src/pages/trabajo/empresas" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - label: "NIT"
        hint: "Tener cuidado de no repetir números"
        name: "nit"
        widget: "number"
      - label: "Nombre de la empresa"
        name: "name"
        widget: "string"
      - label: "Breve descripción"
        name: "description"
        widget: "string"
      - label: "Logo"
        hint: "Recomendado una foto cuadrada o 4:3 en PNG"
        name: "img"
        widget: "image"

      - label: "Puestos requeridos"
        name: "puestos"
        widget: "list"
        fields:
          - label: Título del puesto
            name: title
            widget: string

          - label: Descripción
            name: description
            widget: text
          - label: "Sueldo"
            name: "sueldo"
            widget: "string"
            required: false
          - label: "Fecha de publicación"
            name: "publicado"
            widget: "date"
            format: DD-MMM-YY
            required: false
          - label: "Contrato"
            name: "contrato"
            widget: "select"
            options: ["Tiempo Completo", "Medio Tiempo", "Trabajo Remoto"]
          - label: "Vigente"
            hint: "falso si la convocatoria ha concluido"
            name: "vigente"
            widget: "boolean"
            default: true
          - label: "Beneficios"
            hint: "Indicar los beneficios de la empresa para el trabajador en el puesto dado"
            name: "beneficios"
            widget: "list"
            required: false
          - label: "Requisitos técnicos"
            hint: "Habilidades duras necesarias"
            name: "requisitos"
            widget: "list"
            required: false
          - label: "Valores"
            hint: "Habilidades blandas necesarias"
            name: "valores"
            widget: "list"
            required: false
          - label: "Otros requisitos"
            hint: "Ejemplo: licencia de conducir"
            name: "otrosRequisitos"
            widget: "list"
            required: false
  - label: "Configuración del sitio web"
    name: "siteConfig" # Used in routes, e.g., /admin/collections/blog
    identifier_field: name
    create: false # Allow users to create new documents in this collection
    files:
      - label: Configuración personalizada
        name: site-config
        file: site-config/site-config-custom.yml
        fields:
          - label: "Restaurar Valores por defecto"
            hint: "Esto restaurará el sitio a su estado inicial"
            name: "default"
            widget: "boolean"
          - label: "Servicios"
            hint: "Esto restaurará el sitio a su estado inicial"
            name: "servicios"
            widget: "object"
            fields:
              - label: "Imagen de Fondo"
                name: "background"
                widget: image
              - label: "Descripción"
                hint: "Texto corto que indica al usuario de qué trata la página de Servicios"
                name: text
                widget: text
          - label: "Capacitación"
            hint: "Esto restaurará el sitio a su estado inicial"
            name: "capacitacion"
            widget: "object"
            fields:
              - label: "Imagen de Fondo"
                name: "background"
                widget: image
              - label: "Descripción"
                hint: "Texto corto que indica al usuario de qué trata la página de Capacitación"
                name: text
                widget: text
          - label: "Trabajo"
            hint: "Esto restaurará el sitio a su estado inicial"
            name: "trabajo"
            widget: "object"
            fields:
              - label: "Imagen de Fondo"
                name: "background"
                widget: image
              - label: "Descripción"
                hint: "Texto corto que indica al usuario de qué trata la página de Trabajo"
                name: text
                widget: text
          - label: "Contacto"
            hint: "Información de contacto"
            name: "contacto"
            widget: "object"
            fields:
              - label: "Información de la empresa"
                name: "info"
                widget: list
                fields:
                  - label: Título
                    name: title
                    widget: string
                  - label: Descripción
                    name: description
                    widget: text
              - label: "Facebook"
                name: facebook
                widget: object
                fields:
                  - label: Visibilidad
                    name: visible
                    widget: boolean
                    default: true
                  - label: URL
                    name: url
                    hint: link de la página de Facebook
                    widget: string
                  - label: Texto
                    name: text
                    hint: Si desea puede agregar un corto texto al lado del ícono de Facebook
                    required: false
                    widget: string
              - label: "Youtube"
                name: youtube
                widget: object
                fields:
                  - label: Visibilidad
                    name: visible
                    widget: boolean
                    default: true
                  - label: URL
                    name: url
                    hint: link de la página de Youtube
                    widget: string
                  - label: Texto
                    name: text
                    hint: Si desea puede agregar un corto texto al lado del ícono de Youtube
                    required: false
                    widget: string
              - label: "whatsapp"
                name: whatsapp
                widget: object
                fields:
                  - label: Visibilidad
                    name: visible
                    widget: boolean
                    default: true
                  - label: Número de Whatsapp
                    name: value
                    hint: "IMPORTANTE: NO ESCRIBIR el prefijo del país +591"
                    widget: string
                  - label: Mensaje
                    name: text
                    hint: Este será el mensaje que los usuarios le enviarán al hacer click en el contacto de Whatsapp
                    required: false
                    widget: string
              - label: "email"
                name: email
                widget: object
                fields:
                  - label: Visibilidad
                    name: visible
                    widget: boolean
                    default: true
                  - label: Escribir Email
                    name: value
                    widget: string

              - label: "Dirección"
                name: address
                widget: object
                fields:
                  - label: Visibilidad
                    name: visible
                    widget: boolean
                    default: true
                  - label: URL
                    name: url
                    hint: link de la dirección en Google Maps (u otro servicio de GPS satelital en internet)
                    widget: string
                  - label: Escribir la dirección de la empresa
                    name: text
                    widget: text
              - label: "Teléfono"
                name: tel
                widget: object
                fields:
                  - label: Visibilidad
                    name: visible
                    widget: boolean
                    default: true
                  - label: Escribir Teléfono
                    name: value
                    widget: string
